<div>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Подтверждение удаления</h4>
    </div>

    <div class="modal-body">
        <div class="row" style="padding: 10px;">
            Вы действительно хотите удалить выбранные элементы?
         </div>
    </div>

    <div class="modal-footer">
        <div class="btn-group">
            <button class="btn btn-default fa fa-trash-o" id="deleteDitionaryItem" ng-click="submit()">
                Удалить
            </button>
            <button class="btn btn-default fa fa-reply" id="cancelSaveDitionaryItem" ng-click="cancel()"> Отмена
            </button>
        </div>
    </div>

</div>