.not_confirm {
    color: #ffffff;
}

/*blue*/
.appeal {
    color: gainsboro;
    /*rgba(0, 192, 239, 1);*/
}

/*light green*/
.appeal_cancel {
    color: rgba(1, 255, 112, 1);
}

/*red*/
.appeal_confirm {
    color: rgba(190, 0, 0, 1);
}

.confirm {
    color: rgba(255, 76, 128, 1);
}

.not_confirm-background {
    background-color: #ffffff;
}

/*blue*/
.appeal-background {
    background-color: white;
    /*rgba(0, 192, 239, 0.2);*/
}

/*light green*/
.appeal_cancel-background {
    background-color: rgba(1, 255, 112, 0.2);
}

/*red*/
.appeal_confirm-background {
    background-color: lavenderblush;
}

.confirm-background {
    background-color: rgba(255, 76, 128, 0.2);
}

.not_confirm-table {
    border-left: 5px solid #ffffff;
    width: 13%;
}

/*blue*/
.appeal-table {
    border-left: 5px solid gainsboro;
    width: 13%;
}

/*light green*/
.appeal_cancel-table {
    border-left: 5px solid rgba(1, 255, 112, 1);
    width: 13%;
}

/*red*/
.appeal_confirm-table {
    border-left: 5px solid rgba(190, 0, 0, 1);
    width: 13%;
}

.confirm-table {
    border-left: 3px solid rgba(255, 76, 128, 1);
    width: 13%;
}