<div>
    <div class="box-body">
        <div class="panel panel-default">
            <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">Сводная информация</h3>-->
            <!--</div>-->
            <div class="panel-body" style="height: 300px; text-align: center">
                <h2>Добро пожаловать</h2>
                </br>
               <h2>ПАО ОченьЧестнНадёжБанк</h2>

            </div>
        </div>
    </div>
</div>