<div>
    <div class="box-body">
        <div class="jumbotron" style="padding-left: 40px">
            <h2>Страница не найдена (404)</h2>
            <p>
                Что-то пошло не так ....


            </p>
        </div>
    </div>
</div>