<!--<li class="messages-menu" agency-top-menu>
    <a href="#" ng-click="openDialog()" class="dropdown-toggle">
        {{user.agency}}
    </a>
</li>-->
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <!--<img src="${pageContext.request.contextPath}/resources/images/avatar5.png"-->
        <!--class="user-image" alt="User Image">-->
        <span class="hidden-xs">{{user.name}}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="{{nameProjectUrl}}/resources/images/avatar5.png"
                 class="img-circle" alt="User Image">
            <h2>
                {{user.name}}
            </h2>
        </li>

        <li class="user-footer">
            <!--<div class="pull-left">
                <a ui-sref="profile" class="btn btn-default btn-flat">Профиль</a>
            </div>-->
            <div class="pull-right">
                <a ui-sref="logout"
                   class="btn btn-default btn-flat">Выйти</a>
            </div>
        </li>
    </ul>
</li>