<div>
    <div class="box-body">
        <div class="panel panel-default">
            <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title">Сводная информация</h3>-->
            <!--</div>-->
            <div class="panel-body" style="height: 300px; text-align: center">

                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="custom-input">
                            <input type="text" placeholder="Сумма снятия" clearable
                                   class="form-control" id="money-sum"
                                   ng-model="moneySum" ng-enter="submit();">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 15px">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="custom-input">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-success fa"
                                        style="margin-left: 0px; width: 60px" ng-click="submit()">
                                    Снять
                                </button>
                                <button type="button" class="btn btn-default" ng-click="clearSum()" style="width: 60px">
                                    <
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 15px">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="custom-input">
                            <div class="row" class="btn-group ">
                                <button type="submit" class="btn btn-default col-md-4" ng-click="putKey(1)">1</button>
                                <button type="button" class="btn btn-default col-md-4" ng-click="putKey(2)">2</button>
                                <button type="button" class="btn btn-default col-md-4" ng-click="putKey(3)">3</button>

                            </div>
                            <div class="row" class="btn-group ">
                                <button type="button" class="btn btn-default col-md-4" ng-click="putKey(4)">4</button>
                                <button type="button" class="btn btn-default col-md-4" ng-click="putKey(5)">5</button>
                                <button type="button" class="btn btn-default col-md-4" ng-click="putKey(6)">6</button>
                            </div>
                            <div class="row" class="btn-group ">
                                <button type="button" class="btn btn-default col-md-4" ng-click="putKey(7)">7</button>
                                <button type="button" class="btn btn-default col-md-4" ng-click="putKey(8)">8</button>
                                <button type="button" class="btn btn-default col-md-4" ng-click="putKey(9)">9</button>
                            </div>
                            <div class="row" class="btn-group ">

                                <button type="button" class="btn btn-default col-md-4 col-md-offset-4" ng-click="putKey(0)">0</button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
