<div>
    <div class="box-body">
        <div class="panel panel-default">
            <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title">Сводная информация</h3>-->
            <!--</div>-->
            <div class="panel-body" style="height: 300px; text-align: center" ng-if="!data.errmes">
                <h2>Операция № {{data.operId}} выполнена успешно</h2>
                <h2>Сумма операции: {{data.operSum}}</h2>
                <h2>Текущий баланс: {{data.balance}}</h2>
                <h2>Дата операции: {{operDate}}</h2>

            </div>
            <div class="panel-body" style="height: 300px; text-align: center" ng-if="data.errmes">
                <h2 style="color:red">Ошибка операции. {{data.errmes}}</h2></br>

            </div>
        </div>
    </div>
</div>